<!--<div class="col-sm-4 mr-auto">-->
  <!--<div class="panel shadow1" style="padding:5px;">-->
    <!--<div style="padding:5px;">-->
      <!--<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link one active" id="filter-tab" data-toggle="tab" href="#search" role="tab"-->
             <!--aria-controls="search"-->
             <!--aria-selected="true"><h6>Search Criteria</h6></a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link two" id="saved-tab" data-toggle="tab" href="#saver" role="tab" aria-controls="saver"-->
             <!--aria-selected="false">-->
            <!--<h6>Saved Searches<span *ngIf="filterSets.length > 0" class="badge" id="savedCount"-->
                                    <!--style="position:absolute; margin-top:2px; background-color:blue; margin-left: 6px;">{{filterSets.length}}</span>-->
            <!--</h6></a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="tab-content" id="myTabContent">-->
        <!--<div class="tab-pane one fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">-->
          <!--<table id="searchTable" class="table">-->
            <!--<thead>-->
            <!--<tr *ngIf="saveActive === true">-->
              <!--<th class="searchTh">Field Name</th>-->
              <!--<th>Value</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let new of filters; let $idx = index;" class="filterRow">-->
              <!--<td>{{new.key}}</td>-->
              <!--<td>{{new.values}}</td>-->
              <!--<td>-->
                <!--<button class="btn btn-sm btn-danger remove pull-right">-->
                  <!--<i class="fa fa-times glyphicon-remove savebtn" (click)="removeThisFilter(new, $idx)"></i>-->
                <!--</button>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
          <!--<div class="controls" [ngClass]="saveActive === true ? 'turnOn' : 'turnOff'">-->
            <!--<button id="saveSearch" class="btn btn-sm btn-primary savebtn" (click)="saveFilterSet(filters);">-->
              <!--<i class="fa fa-floppy-o"></i>&nbsp;Save-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="tab-pane two fade" id="saver" role="tabpanel" aria-labelledby="saver-tab">-->
          <!--<table class="table table-hover">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th>Name</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let saved of filterSets; let $index = index;" class="filterRow" style="cursor:pointer;"-->
                <!--(click)="loadFilterList( saved );">-->
              <!--<td><span>{{saved.name}}</span> &nbsp;&nbsp;&nbsp; <span *ngFor="let filterer of saved.filters;">&nbsp;&nbsp;&nbsp;({{filterer.values}})</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<button class="btn btn-sm btn-danger remove pull-right" (click)="removeFilterSet(saved, $index)">-->
                  <!--<i class="fa fa-times glyphicon-remove savebtn"></i></button>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
