@import '../../../../assets/stylesheets/variables';

.navbar-nav {
  width: 100%;
  border-bottom: 1px solid white;
  flex-direction: row;
  padding: 11px;
}


#topheader li > a {
  text-transform: capitalize;
  transition: background-color .2s, color .2s;
  padding: 14px 35px;
  color: white;
  background-color: transparent;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(61, 62, 171, 0.85);
  border-radius: 5px 5px 0 0;
  margin: 30px 4px;
  border-bottom: 1px transparent;
  &:hover {
    border-color: #52a3ff;
    color: white;
    border-bottom: 1px solid $central-blue-container;
  }
  &:active {
    border-color: white;
    border-bottom: 1px solid $central-blue-container;
  }
  &:focus {
    border-color: white;
    border-bottom: 1px solid $central-blue-container;
  }
}

#topheader li.active > a {
  background-color: transparent;
  border-color: white;
  color: white;
  border-bottom: 2px solid $central-blue-container;
}

.btn.btn-sm.help {
  font-size: .9rem;
  padding: 0.1rem 0.7rem;
}
