#treechart {
   fill: rgba(255, 255, 255, 0);
  stroke: #ffffff;
  stroke-width: 1.5px;
  // overflow: hidden;
}

.title {
  font-size: larger;
  text-align: center;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.lifespan {
  fill: #2c5;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node {
  fill: blue;
}
