@import '../../../assets/stylesheets/variables';

.axis-text{
  font-size: .8rem;
  fill:black;
}

.axis-tick{
  stroke:white;
}

.axis-path {
  stroke: #eeeeee;
  stroke-opacity: 1.0;
  shape-rendering: geometricPrecision;
  z-index:110000;
}


.pieLabel {
  fill: black;
  font-weight: bold;
  font-size: 22px;
}

.horizontalGrid {
  shape-rendering: geometricPrecision ;
  stroke: rgba(191, 191, 191, 0.15);
  stroke-width: 1px;
}

.legend {
  top: 15px;
}

.legend .key text {
  font-size: .9rem;
  font-weight: bold;
  fill: #000000;
}

.legend .key:hover {
  cursor: pointer;
}

.legend-back {
  fill: rgba(0, 0, 0, 0.06);
}






