<ng-container *ngIf="showTip">
  <app-custom-tooltip
    [tiptitle]="toolTitle"
    [tipvalues]="toolValues"
    [tipPositionX]="tooltipPositionX"
    [tipPositionY]="tooltipPositionY">
  </app-custom-tooltip>
</ng-container>
<div class="row mt-2">
  <div *ngFor="let chart of allCharts; let $index = index;"
       [ngClass]="(chart.id=='timeline')?'col-md-8 mr-auto':'col-md-6 mr-auto'">
    <div class="panel shadow1 p-1">
      <div class="text-center display-sm p-1 f-weight-600 text-white">{{chart.title }}</div>
      <div id="{{chart.id}}" class="widget shadow1"
           [ngClass]="tableActive ? 'scroller' : ''">
        <div class="chart">
          <app-bar-chart *ngIf="chart.chartType === 'bar'"
                         (resetEvent)="setCurrentChart($event, $index, chart.chartType)"
                         (tooltipEvent)="initToolEvent($event)"
                         (tooltipHide)="hideToolEvent($event)"
                         [attachNode]="chart.id"
                         [barData]="chart.data"
                         [totalVal]="chart.total"
                         [soldVal]="chart.sold"
                         [colorVal]="chart.color"
                         [isPremium]="chart.isPremium">
          </app-bar-chart>

          <pie *ngIf="chart.chartType === 'pie'"
               (resetEvent)="setCurrentChart($event, $index, chart.chartType)"
               (tooltipEvent)="initToolEvent($event)"
               (tooltipHide)="hideToolEvent($event)"
               [attachNode]="chart.id"
               [pieData]="chart.data"
               [totalVal]="chart.total"
               [soldVal]="chart.sold"
               [isPremium]="chart.isPremium">
          </pie>
          <app-line-chart *ngIf="chart.chartType === 'line'"
                          (resetEvent)="setCurrentChart($event, $index, chart.chartType)"
                          (tooltipEvent)="initToolEvent($event)"
                          (tooltipHide)="hideToolEvent($event)"
                          [attachNode]="chart.id"
                          [lineData]="chart.data"
                          [totalVal]="chart.total"
                          [soldVal]="chart.sold"
                          [colorVal]="chart.color"
                          [isPremium]="chart.isPremium">
          </app-line-chart>
          <table-view *ngIf="chart.chartType === 'table'"
                      (resetEvent)="setCurrentChart($event, $index, chart.chartType)"
                      [attachNode]="chart.id"
                      [tableData]="chart.data"
                      [tableTitle]="chart.title">
          </table-view>
          <single-combo *ngIf="chart.chartType === 'single'"
                        [attachNode]="chart.id"
                        [singleData]="chart.data"
                        [singleTitle]="chart.title">
          </single-combo>
        </div>
      </div>
      <div class="controls">
        <div class="btn-group btn-group-sm mr-3">
          <button (click)="toggleTotalQuotes($index);"
                  type="button"
                  class="btn btn-indigo waves-light btn-sm">
            <i class="fa fa-comment-o"></i>
          </button>
          <button (click)="toggleTotalPremium($index);"
                  type="button"
                  class="btn btn-indigo waves-light btn-sm">
            <i class="fa fa-usd"></i>
          </button>
        </div>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-indigo waves-light btn-sm  {{chart.id}}"
                  (click)="setChartType($index, 'bar', true)"><i class="fa fa-bar-chart"></i></button>
          <button *ngIf="chart.id != 'timeline'" type="button" class="btn btn-indigo waves-light btn-sm {{chart.id}}"
                  (click)="setChartType($index, 'pie', true)"><i class="fa fa-pie-chart"></i></button>
          <button type="button" class="btn btn-indigo waves-light btn-sm {{chart.id}}" id="line-select"
                  (click)="setChartType($index, 'line', true)"><i class="fa fa-line-chart"></i></button>
          <button type="button" class="btn btn-indigo waves-light btn-sm {{chart.id}}" id="table-select"
                  (click)="setChartType($index, 'table', false)"><i class="fa fa-th"></i></button>
        </div>
        <div *ngIf="chart.id != 'organization'">
          <span class="display-xs text-white ml-2 mr-2">Select Field:</span>
          <select class="select-spec display-xs" [ngModel]="chart.title"
                  (ngModelChange)="dropdownSelector($index, chart.chartType, $event);"
                  name="sel2">
            <option [value]="i" *ngFor="let i of chart.columnData;">{{i}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel shadow1 p-2">
      <ul class="filters-tabs nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item mr-1">
          <a class="nav-link one" id="filter-tab" role="tab" (click)="activateTabOne()">
            <div>Search Criteria<span *ngIf="filters.length > 0" class="count-badge">{{filters.length}}</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link two" id="saved-tab" (click)="activateTabTwo()">
            <div>Saved Searches<span *ngIf="filterSets.length > 0" class="count-badge"
                                    id="savedCount">{{filterSets.length}}</span>
            </div>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane one fade show" id="search" role="tabpanel" aria-labelledby="search-tab">
          <div class="py-1 display-xs f-weight-600">Saved Filters</div>
          <div *ngIf="saveActive" class="d-flex align-items-center justify-content-start w-100">
          </div>
          <div *ngFor="let new of filters; let $idx = index;" class="filterRow">
            <div>{{new.key}}</div>
            <div>{{new.values}}</div>
            <div>
              <button class="btn btn-sm btn-danger remove pull-right">
                <i class="fa fa-times glyphicon-remove savebtn" (click)="removeThisFilter(new, $idx)"></i>
              </button>
            </div>
          </div>
          <div class="controls" *ngIf="filters.length">
            <button id="saveSearch" class="btn btn-sm btn-primary savebtn" (click)="saveFilterSet(filters);">
              <i class="fa fa-floppy-o mr-1"></i>
            </button>
          </div>
        </div>
        <div class="tab-pane two fade" id="saver" role="tabpanel" aria-labelledby="saver-tab">
          <div class="py-1  display-xs f-weight-600">Saved Filter Sets</div>
          <div *ngFor="let saved of filterSets; let $index = index;"
               class="d-flex flex-column display-xxs mb-1" style="border: 1px solid rgba(0,0,0,0.2);">
            <div class="d-flex align-items-center p-1">
              <div *ngFor="let savedFilter of saved.filters;" style="border-right: 1px solid rgba(0,0,0,0.2);">
                <div class="d-flex flex-column mx-1">
                  <div>{{savedFilter.key}}</div>
                  <div>{{savedFilter.values}}</div>
                </div>
              </div>
              <div class="btn-group btn-group-sm ml-auto">
                <button class="btn btn-sm btn-primary" (click)="loadFilterList( saved );">
                  <i class="fa fa-refresh"></i></button>
                <button class="btn btn-sm btn-danger" (click)="removeFilterSet(saved, $index)">
                  <i class="fa fa-times glyphicon-remove"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





