@import '../../../assets/stylesheets/variables';


.panel {
  background-color: #4554a3;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 4px solid rgb(69, 84, 163);
}

.panel-header{
  text-align:center;
  color:white;
  padding:0 0 6px 0;
  font-size:14px;
}


.widget {
  background-color: white;
  position: relative;
  border-radius: 3px 3px 0 0;
  min-height: 287px;
  overflow-x: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.63);
  border-right: 1px solid rgba(0, 0, 0, 0.63);
  border-top: 1px solid rgba(0, 0, 0, 0.63);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.select-spec {
  width:220px;
}

.btn.btn-sm {
  font-size: 0.2rem;
  padding: 0.4rem 0.7rem;
}

.scroller {
  max-height: 240px;
  overflow-y: auto;
}

.noscroller {
  overflow-y: hidden;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(3, 20, 73, 0.3);
  border-top: solid 1px rgba(163, 163, 163, 0.35);
  border-left: 1px solid rgba(0, 0, 0, 0.53);
  border-right: 1px solid rgba(0, 0, 0, 0.53);
  padding: 5px;
  i {
    font-size: 15px;
  }

  button:disabled i {
    color: darkblue;
  }

  label {
    display: inline-block;
    font-size: 10px;
    margin-left: 20px;
  }
}

.filterRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafaff;
  border: 0px solid rgba(0, 0, 0, 0.17);
  font-size: 13px;
  white-space: nowrap;
  vertical-align: middle;
  color:black;
}


.nav-tabs .nav-link {
  color: #dce1e9;
  background-color: transparent !important;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(49, 49, 98, 0.95);
  border-bottom: 0px transparent;
  &:hover {
    border-color: #52a3ff;
    color: #bdc1c9;
  }
}

.nav-tabs .nav-link {
  border-radius: 5px 5px 0 0 !important;
}

.nav-tabs .nav-link.active  {
  color: black;
  background-color: white !important;
}
.nav-tabs .nav-link.focus  {
  color: black;
  background-color: white !important;
}

.tab-pane {
  padding: 5px;
  margin: -1px 1px;
  background-color: white;
}


.shadow1 {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.45);
}

.shadow2{
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.txt {
  font-size: 13px;
}


