@import '../../../assets/stylesheets/variables';

.axis-text{
  font-size: .8rem;
  fill:white;
}

.axis-tick{
  stroke:white;
}

.axis-path {
  stroke: #eeeeee;
  stroke-opacity: 1.0;
  shape-rendering: geometricPrecision;
  z-index:110000;
}

.horizontalGrid {
  shape-rendering: geometricPrecision ;
  stroke: rgba(191, 191, 191, 0.15);
  stroke-width: 1px;
}

.legend-back {
  fill: rgba(0, 2, 57, 0.3);
  padding: 10px;
}






