<ng-container *ngIf="showTip">
  <app-custom-tooltip
    [tiptitle]="toolTitle"
    [tipvalues]="toolValues"
    [tipPositionX]="tooltipPositionX"
    [tipPositionY]="tooltipPositionY">
  </app-custom-tooltip>
</ng-container>
<div class="selection-frame d-flex">
  <div *ngFor="let category of pictureCategories" class="d-flex align-items-center ml-4">
    <input type='checkbox'
           [(ngModel)]="category.checked"
           (click)="filterTriage($event, category.name)">
    <label class="ml-1 mt-2 text-white">{{category.name }}</label>
  </div>
  <div class="d-flex align-items-center ml-auto">
    <div class="text-white mr-2">Search:</div>
    <input type="text" class="input-search mr-5" [(ngModel)]="searchText"
           placeholder="Search"/></div>
  <button class="btn-sm btn-primary ml-auto" (click)="activateAddRoute()">Add Picture</button>
</div>
<div class="master-container w-100">
  <div class="picture-container d-flex flex-wrap">
    <div *ngFor="let picture of pictureChecker |  async  let $idx = index;">
      <div *ngIf="activeFilters.indexOf(picture.keyword)>-1 || activeFilters[0] === 'All'">
        <div (mouseenter)="onMouseOver($event, picture)"
             (mouseleave)="onMouseLeave($event, picture)">
          <div class="thumbnail view zoom">
            <img [src]="PICTURE_PATH + picture.image + '_tn.jpg'" (click)="openModal(picture);">
            <div class="controls-row">
              <a (click)="showTip = !showTip"><i class="mx-1 fa fa-file-text-o"></i></a>
              <a (click)="openVideoModal(0); videoPlayer = true"><i class="mx-1 fa fa-video-camera"></i></a>
              <a (click)="activateEditRoute(picture)"><i class="mx-1 fa fa-pencil-square-o"></i></a>
              <a (click)="deletePicture(picture)"><i class="mx-1 fa fa-trash-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







