<!--<div *ngIf="showTip">-->
<!--<div class="chart-tip-master" [style.left.px]="tooltipPositionX + 150" [style.top.px]="tooltipPositionY - 130">-->
<!--<div class="header header-md f-weight-600">{{toolTitle}}</div>-->
<!--<div class="tipCell text-left mr-auto p-1">{{toolValues}}</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="left-gutter text-left ml-3 mt-2">-->
<!--<div *ngFor="let category of pictureCategories; let i = index;">-->
<!--<input #ref [(ngModel)]="ref.checked" type='checkbox' (click)="ref.checked ? filterArr.push(category.name) : filterArr.splice(filterArr.indexOf(category.name), 1)">-->
<!--<label class="ml-1 text-white">{{category.name}}</label>-->
<!--<label>{{filterArr}}</label>-->
<!--</div>-->
<!--</div>-->

<div class="layout-grid">
  <div *ngFor="let picture of pictures | pictureFilter: filterArr; let $idx = index;"
       class="thumbnail"
       (mouseenter)="onMouseOver($event, picture)"
       (mouseleave)="onMouseLeave($event, picture)"
       (click)="openModal($idx);">

    <img src="../assets/img/pictureCollection/{{picture.image}}_tn.jpg">

  </div>
</div>
<div class="right-gutter">
  <!--<div *ngFor="let category of pictureCategories; let $idx = index;">-->
  <!--<input type='checkbox' id="checkbox"/>-->
  <!--<label>{{category}}</label>-->
  <!--</div>-->
</div>


