@import '../../../assets/stylesheets/variables';

.selection-frame {
  border: 1px solid gold;
}

.master-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  .picture-container {
    margin: 0 auto;
    width: 95%;
  }
}

.thumbnail {
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 8px 8px 0 0;

  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  img {
    border: 1px solid rgba(237, 199, 0, 0.8);
    width: 120px;
    height: 120px;
  }
  .controls-row {
    display: flex;
    color: rgba(255, 255, 255, 0.76);
    align-items: center;
    justify-content: center;
    padding-left: 2px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    top: 3px;
    right: 5px;
    position: absolute;
  }
}

select {
  font-family: FontAwesome, sans-serif;
}



//
//.picture-frame {
//  width: 1000px;
//}
//
//.modal-title {
//  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
//  text-transform: uppercase;
//}
//
//.modalImage {
//  width: 640px;
//  height: auto;
//}
//
//.next, .prev {
//  color: #eace4b;
//  font-size: 50px;
//  cursor: pointer;
//
//  &:hover {
//    color: red;
//  }
//}
