
.linage {
  fill: none;
  stroke: #ffffff;
}

.title {
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6) !important;
  padding: 3px;
 // border-radius: 3px;
 // color: black;
}

.tester {
  font-weight: normal;
 // color: black;
}

.textClass {
  background-color: red;
}

.marriage {
  fill: none;
  stroke: #ffffff;
}

.man {
  background-color: #478bf1;
  border-top: 7px solid;
  border-bottom: 7px solid;
  border-right: 7px solid;
  border-left: 7px solid;
  border-color: #76aaf7;
 // box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8) !important;
  color: black;
  &:hover {
    color: white;
    background-color: #0005ff;
  }
}

 .divorced {
  background-color: #183d10;
  border-top: 2px solid #6ec75a;
  color:rgba(255, 255, 255, 0.37) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.woman {
  background-color: #fd242b;
  border-top: 7px solid;
  border-bottom: 7px solid;
  border-right: 7px solid;
  border-left: 7px solid;
  border-color: #ff8f8f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: black;
  &:hover {
    color: white;
    background-color: #bf5a67;
  }
}

