#treechart {
fill: rgba(255, 255, 255, 0);
  stroke: #ffffff;
  stroke-width: 1.5px;
 // overflow: hidden;
}

.circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3.5px;
  &:hover {
    fill: red;
  }
}

.node circle:hover {
  fill: steelblue;
  cursor: pointer;
}

.node {
  font: 11px sans-serif;
  fill: none;
  stroke: none;
}

.rectLabel {
  fill: steelblue;
}

.link {
  fill: white;
  stroke: #ffffff;
  stroke-width: 1.5px;
}

.textLabel {
  font-size: 20px;
 // fill: white;
 // opacity: 1;
  stroke: none !important;
}


