@import '../../../../assets/stylesheets/variables';


.chart-tip-master {
  width: 230px;
  border-right: 1px solid rgba(0, 0, 0, 0.31);
  border-left: 1px solid rgba(0, 0, 0, 0.31);
  border-radius: 4px;
  position: absolute;
  pointer-events: none;
  z-index: 150 !important;
  .header {
    background-color: #4c6cea;
    font-size: 12px;
    padding: 4px 5px 2px;
    text-align: left;
    color: #FFF;
  }
}


.tipCell {
  border-bottom: 1px solid gray;
  padding: 3px 0;
  font-size: 11px;
  background-color: #fff;
  text-align: left;
}




