<div class="chart-tip-master" [style.left.px]="tipPosLeft" [style.top.px]="tipPosTop -100">
  <div class="header header-md f-weight-600">{{toolTitle}}</div>
  <div *ngIf="!valueType" class="d-flex align-items-center display-xs tipCell p-1">{{toolValues}}</div>
  <div *ngIf="valueType">
    <div *ngFor="let val of toolValues;" class="d-flex align-items-center display-xs tipCell">
      <span class="mr-auto ml-1">{{val.name}}</span>
      <span class="ml-auto mr-1">{{val.value}}</span>
    </div>
  </div>
</div>




