<ng-container *ngIf="showTip">
  <app-custom-tooltip
    [tiptitle]="toolTitle"
    [tipvalues]="toolValues"
    [tipPositionX]="tooltipPositionX"
    [tipPositionY]="tooltipPositionY">
  </app-custom-tooltip>
</ng-container>
<div class="d-flex align-items-center">
  <div class="text-white ml-auto mr-3">Set Population Breakpoint:</div>
  <div class="display-md gold-text pull-right my-3">{{popBreakpoint[activePopulation] | number}}
    <a (click)="openPopSelect = !openPopSelect">
      <i class="fa fa-caret-down ml-2"></i></a>
    <div class="profile-drop" *ngIf="openPopSelect">
      <div (click)="setPopulationBreakpoint($idx)" *ngFor="let pop of popBreakpoint let $idx = index;"
           class="d-flex align-items-center profileRow mx-1">
        {{pop}}
      </div>
    </div>
  </div>
</div>
<!--<div class="text-white">{{popBreakpoint}}</div>-->
<div id="world-body"></div>

