<div class="width-container d-flex flex-column justify-content-center">
  <div class="d-flex align-items-center overlay w-100 pt-5">
    <div (click)="setOriginBack(36);" class="next mr-auto ml-5"><i class="fa fa-arrow-circle-o-left"></i></div>
    <div class="carousel-container">
      <div class="carousel" *ngIf="projectValues$.length" [ngStyle]="{'transform': getCurrentPosition()}">
        <div *ngFor="let game of projectValues$; let $idx = index;">
          <div (click)="openModal($idx);  videoPlayer = true"
               [ngClass]="game.order">
            <div class="mt-1 p-1">{{game.projectName}}</div>
            <img class="box-image" [src]="IMG_PATH+game.boxImage"/>
            <div class="description-area">
              <div class="game-type">{{game.projectPlatform}}</div>
              <div class="game-desc">{{game.projectRole}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div (click)="setOriginForward(36)" class="prev ml-auto mr-5"><i class="fa fa-arrow-circle-o-right"></i></div>
  </div>
</div>
<ngbd-video-modal-component></ngbd-video-modal-component>





