@import '../../../assets/stylesheets/variables';
@import '../resume.component.scss';


.carousel-container {
  opacity: 1;
  z-index:10;
  margin:50px auto;
  width: 250px;
  height:360px;
  perspective: 2000px;
  .carousel {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s ease-in-out;
  }
}

.item {
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: $central-gold;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  padding: 0 7px;
  background: rgba(7, 55, 85, 0.92);
  border:1px solid #3c6d82;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 2px black;
 // backface-visibility: hidden;
  .box-image{
    width:175px;
    border:1px solid #213343;
    margin:10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);
  }
  .description-area {
    min-height: 70px;
    width: 220px;
    .game-type {
      font-weight: normal;
      padding: 0 10px;
      font-size: 14px;
      color: $central-gold;
    }
    .game-desc {
      font-weight: normal;
      padding: 0 10px;
      font-size: 13px;
      color: white;
    }
  }
  &:hover{
    border:1px solid $central-gold;
  }
}

.a {
  transform: rotateY(0deg) translateZ(400px);
}
.b {
  transform: rotateY(36deg) translateZ(400px);
}
.c {
  transform: rotateY(72deg) translateZ(400px);
}
.d {
  transform: rotateY(108deg) translateZ(400px);
}
.e {
  transform: rotateY(144deg) translateZ(400px);
}
.f {
  transform: rotateY(180deg) translateZ(400px);
}
.g {
  transform: rotateY(216deg) translateZ(400px);
}
.h {
  transform: rotateY(252deg) translateZ(400px);
}
.i {
  transform: rotateY(288deg) translateZ(400px);
}
.j {
  transform: rotateY(324deg) translateZ(400px);
}

.next, .prev {
  color: #eace4b;
  font-size:50px;
  cursor: pointer;
  &:hover{
    color:red;
  }
}

