<div class="d-flex flex-column align-items-center justify-content-start text-white">
  <div class="mb-5">Video Game Highlights</div>
  <div class="collapse-tab-static visible mt-5" (click)="toggleMenu();">
    <i [ngClass]="!menuOpen ? 'fa fa-arrow-circle-o-down fa-2x' : 'fa fa-arrow-circle-o-up fa-2x'"></i>
  </div>
</div>
<div class="d-flex flex-column index-top" [ngClass]="menuOpen ? 'am-visible anim-out' : 'in-visible anim-in'">
  <div class="carousel-container">
    <div class="carousel" [ngStyle]="{'transform': getCurrentPosition()}">
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ?autoplay=1')" class="item a">
        <div class="media mt-2">
          <span class="ml-1">SOCOM MAG</span>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_mag.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ');  videoPlayer = true"  class="item b">
        <div class="media mt-2">
          <img width="26" class="" src="../../../assets/img/vgames/ZipperZ40.png" alt="">
          <span class="ml-1">RECOIL</span>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_recoil.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ?autoplay=1'); videoPlayer = true;" class="item c">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">TOP GUN 2</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_topGun.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/XKe2Qvyf2JQ?autoplay=1'); videoPlayer = true;" class="item d">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">SOCOM 1</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_Socom2.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/acTgmc8NFA8?autoplay=1'); videoPlayer = true;" class="item e">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">SOCOM 2</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_Socom2.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ?autoplay=1'); videoPlayer = true;" class="item f">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">SOCOM 3</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_Socom3.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/zzOPSu2AdV8'); videoPlayer = true" class="item g">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">SOCOM 4</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_Socom4.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/wqZbmmZKbmc?autoplay=1'); videoPlayer = true" class="item h">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">MECHWARRIOR 3</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_mechWarrior3.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ?autoplay=1'); videoPlayer = true" class="item i">
        <div class="media mt-2">
          <div class="align-items-center">
            <span class="ml-1">CRIMSON SKIES</span>
          </div>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_crimsonSkies.png"/>
      </div>
      <div (click)="openModal('https://www.youtube.com/embed/low8HlogFFQ?autoplay=1'); videoPlayer = true"  class="item j">
        <div class="media mt-2 align-items-center">
          <span class="f-weight-600 ml-1">HALO 4</span>
        </div>
        <img class="box-image" src="../../../assets/img/vgames/img_Halo4.png"/>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center w-100 overlay">
    <div class="d-flex align-items-center">
      <div (click)="setOriginBack(36);"  class="next mr-auto ml-5"><i class="fa fa-arrow-circle-o-left"></i></div>
      <div (click)="setOriginForward(36)" class="prev ml-auto mr-5"><i class="fa fa-arrow-circle-o-right"></i></div>
    </div>
  </div>
</div>
<ngbd-video-modal-component></ngbd-video-modal-component>






