
<div class="d-flex all-container">
  <button class="btn btn-success" (click)="getStoredData()">Get Stored Data</button>
  <button class="btn btn-primary" (click)="deleteStoredData()">Delete Data</button>
  <button class="btn btn-warning" (click)="getTeamCollection()">Get Data</button>
  <div class="d-flex align-items-center ml-auto">
    <div class="text-white mr-2">Search:</div>
    <input type="text" class="input-search mr-5" [(ngModel)]="searchText"
           placeholder="Search"/>
    <div class="text-white mr-2">Seconds::</div>
    <input type="text" class="input-time mr-2" (value)="timevalue" (input)="timevalue = $event.target.value"
           placeholder="30"/>
    <button class="btn btn-warning ml-auto" (click)="callObservable()">Reset Timer</button>
    <div class="timer-base">
      <div>{{observable | async}}</div>
    </div>
  </div>
</div>
<div class="draft-container">
  <div class="team-container">
    <div *ngFor="let team of allTeams">
      <div class="team-space">
        <div class="team-name mb-1"><em>{{team?.teamName}}</em></div>
        <div mwlDroppable class="playerList text-left w-100 layout-row justify-content-between"
             *ngFor="let teamPlayer of team.playerList; let $index = index;" (drop)="onDrop(team, teamPlayer, team.Id)">
          <!--<span>{{team.Id}}</span>-->
          <span class="ml-1">{{teamPlayer.pos}}</span>
          <span>{{teamPlayer.pname}}</span>
          <span>{{teamPlayer.pteam}}</span>
          <!--<span>{{teamPlayer.plistId}}</span>-->
          <a class="mr-2" (click)="removeItem(team.Id, teamPlayer.pid)">x</a>
        </div>
      </div>
    </div>
  </div>
  <div class="player-container">
    <div class="btnGroup">
      <button
        class="btn-sm btn-primary posButton"
        (click)="activatePos('QB')">QB
      </button>
      <button class="btn-sm btn-primary posButton"
              (click)="activatePos('RB')">RB
      </button>
      <button class="btn-sm btn-primary posButton"
              (click)="activatePos('WR')">WR
      </button>
      <button class="btn-sm btn-primary posButton"
              (click)="activatePos('TE')">TE
      </button>
      <button class="btn-sm btn-primary posButton"
              (click)="activatePos('K')">K
      </button>
      <button class="btn-sm btn-primary posButton"
              (click)="activatePos('D/ST')">D/ST
      </button>
      <!--<button-->
      <!--(click)="activatePos('ALL')">ALL-->
      <!--</button>-->
    </div>
    <div class="player-list-container">
      <div (dragEnd)="dragEnd(player)" class="text-left" mwlDraggable *ngFor="let player of tempRows | filter : searchText">
        <div [ngClass]="player?.picked ?'playerList amtaken':'playerList amavailable'">
          <!--<div>{{player?.picked}}</div>-->
          <div class="ml-2">{{player?.position}}</div>
          <div class="ml-3">{{player?.playername}}</div>
          <div class="ml-auto mr-2">{{player?.team}}</div>
          <!--<div>{{player.picked}}</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
