
body {
  height: 100vh;
}

.draft-container {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btnGroup {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-content: stretch;

  .posButton {
    flex-basis: 16%;
  }
}



.player-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: 45%;
}

.player-list-container {
  display: flex;
  flex-wrap: wrap;
}


.playerList {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  border-right: 1px solid #141a72;
  border-top: 1px solid #141a72;
  border-left: 1px solid #141a72;
  width: 225px;
  &:last-child{
    border-bottom: 1px solid #141a72;
  }

  &.amavailable {
    background-color: #53b458;
    color: white;
  }

  &.amtaken {
    color: #989898;
    background-color: #cdcdcd;
  }

  &:hover {
    background-color: #f3ef9f;
    color: black;
  }
}


[mwlDraggable] {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

[mwlDroppable] {
  background-color: #5dbded;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 55%;
}

.team-space {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: left;
  color: white;
  width: 210px;
  height: auto;
  border: 1px solid #141a72;
  background-color: #679fed;
  .team-name {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
  .team-player-text {
    width: 100%;
    font-size: 11px;
    color: black;
  }
}
