.timer-base {
  width: 50px;
  height: 36px;
  background-color: white;
  padding: 2px 20px;
  color: black;
  font-size: 22px;
}

.input-time {
  text-align: center;
  width: 50px;
  height: 36px;
}

.input-search {
  width: 250px;
  height: 36px;
}

.all-container {
  height:50px;
  background-color: black;
}

.draft-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btnGroup {
  display: flex;
  width: 100%;
 // justify-content: flex-end;
  align-content: flex-end;

  .posButton {
    flex-basis: 10%;
  }
}

.btn {
  min-width: 160px;
  padding: 0.5rem 1.14rem;
  font-size: .75rem;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  padding: 3px;
  width: 25%;
}

.player-list-container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 75%;
}


.team-playerlist {
  display: flex;
  justify-content: flex-start;
  border-right: 1px solid #141a72;
  border-top: 1px solid #141a72;
  border-left: 1px solid #141a72;
  width: 205px;
  &.for-teams {
    font-size: 14px;
  }
  &:last-child {
    border-bottom: 1px solid #141a72;
  }
  &:hover {
    border-color: red;
    background-color: #fff800;
    color: black;
  }
}


.playerList {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
  border-right: 1px solid #141a72;
  border-top: 1px solid #141a72;
  border-left: 1px solid #141a72;
  width: 205px;
  &:last-child {
    border-bottom: 1px solid #141a72;
  }
  &.for-players {
    font-size: 13px;
  }
  &.amavailable {
    background-color: rgba(253, 253, 13, 1);
    color: black;
    &:hover {
      border-color: red;
      background-color: #f3ef9f;
      color: black;
    }
  }


  &.amtaken {
    color: #656565;
    background-color: #cdcdcd;
  }
}


[mwlDraggable] {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

[mwlDroppable] {
  background-color: #ffffff;
  padding: 1px 0;
  color: black;
}


.team-space {
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: left;
  color: white;
  width: 218px;
  height: auto;
  border: 1px solid #141a72;
  background-color: #679fed;
  .team-name {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
}
