$window-height: 460px;

.game-container {
  margin: 0 auto;
  width: 1500px;
}

.table-description {
  font-size: 16px;
  padding-top: 20px;
  text-shadow: 1px 1px 0px black;
}

[mwlDraggable] {
  background-color: red;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
}

[mwlDroppable] {
  background-color: green;
  position: relative;
}

[mwlDraggable],
[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.funds-frame {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}


.back-stripe {
  padding: 15px;
  border: 15px solid green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 220px;
  border-bottom-right-radius: 220px;
}

.gameTitle {
  font-family: 'Racing Sans One', cursive;
  font-size: 4.5rem;
  letter-spacing: 1px;
  color: #00b700;
  text-shadow: 2px 2px 2px #bcff00;
}

.my-place-frame {
  min-height: 105px;
  border: 10px solid green;
  color: black;
  border-radius: 10px;
  &.one-third {
    flex: 0 0 33%;
  }
  .last-ten {
    width: 40px;
    height: 82px;
    line-height: 80px;
    color: white;
  }
}



.borders {
  background-color: rgba(16, 195, 68, 0.67);
}

.shadow-medium {
  box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.6), inset 0 0 30px rgba(0, 0, 0, 0.8);
}

.shadow-light {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6), inset 0 0 12px rgba(0, 0, 0, 0.7);
}

.state-frame {
  display: flex;
  flex-direction: column;
  border: 10px solid green;
  text-align: center;
  padding: 0 16px;
  color: white;
  width: 270px;
  height: $window-height;
  border-radius: 10px;
  .bet-reveal {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    top: 10px;
    height: calc(100% - #{$window-height / 2.5});
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    border-bottom: 1px solid white;
  }
  .win-reveal {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    top: calc(100% - #{$window-height / 1.5});
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}


.btn {
  padding: 0.84rem 2.14rem;
  font-size: .91rem;
}

a {
  color: #89310F;
}


.pokerchip {
  margin: .25em;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  background-size: 151px 151px;
  background-position: center center;
  z-index: 100;
}

.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-size: 151px 151px;
  background-position: center center;
}

.pokerchip:after {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  content: "25";
  text-align: center;
  font: bold 26px Arial;
  white-space: pre;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3);
}

@mixin chip-color-values($baseColorStart, $baseColorEnd, $chip-value) {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px),
  linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px),
  linear-gradient(120deg, $baseColorStart 0, $baseColorStart 97.4304px, #fff 97.4304px, #fff 113.4304px, $baseColorStart 113.4304px, $baseColorStart 151px);

  &:before {
    border: 3px solid $baseColorStart;
    background-image:
    linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px),
    linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px),
   linear-gradient(150deg, $baseColorEnd 0, $baseColorEnd 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, $baseColorEnd 110.7104px, $baseColorEnd 151px);
  }
  &:after {
    content: $chip-value;
    background: $baseColorStart;
    color: $baseColorEnd;
  }
}

@mixin chip-shadow($x-pos, $y-pos) {
  position: absolute;
  margin-left: $x-pos;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

.chip-shadow-1 {
  @include chip-shadow(10px, 20px);
}

.chip-shadow-2 {
  @include chip-shadow(85px, 20px);
}

.chip-shadow-3 {
  @include chip-shadow(170px, 20px);
}

.chip-shadow-4 {
  @include chip-shadow(255px, 20px);
}

.chip-shadow-5 {
  @include chip-shadow(335px, 20px);
}


.magic-yellow {
  @include chip-color-values(#ffc600, #d6a400, '1');
}

.magic-red {
  @include chip-color-values(#800000, #6C0000, '5');
}

.magic-blue {
  @include chip-color-values(#000099, #00016C, '25');
}

.magic-green {
  @include chip-color-values(#008000, #016C00, '50');
}

.magic-black {
  @include chip-color-values(#000000, #012500, '100');
}

.grid-container {
  height: 400px;
  width: 700px;
  border: 0 solid white;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1.5fr 1.5fr 3fr 3fr 3fr 1.5fr 1.5fr;
}

.grid-number-cell {
  border: 1px solid #ffffff;
  color: white;
  width: 8.33%;
  height: 33.33%;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
    border: 2px solid #ffee2b;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.99);
    z-index: 10;
  }
}

.grid-blank {
  box-sizing: border-box;
  color: white;
  border: 1px solid #ffffff;
  background-color: #008b00;
}

.grid-cell-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  border: 1px solid #ffffff;
  background-color: #008b00;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.0);
    border: 2px solid yellow;
    z-index: 10;
  }
}

.grid-item-02 {
  grid-column: 1 / 7;
  grid-row: 3 / span 3;
}

.grid-item-03 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  grid-column: 7 / span 7;
  grid-row: 3 / 4;
}

.grid-item-04 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  grid-column: 7 / span 7;
  grid-row: 4 / 5;
}

.grid-item-05 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  grid-column: 7 / span 7;
  grid-row: 5 / 6;
}

.grid-item-06 {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.grid-item-07 {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}

.grid-item-08 {
  grid-column: 5 / 7;
  grid-row: 6 / 7;
}

.grid-item-10 {
  grid-column: 1 / 4;
  grid-row: 7 / 8;
  background-color: red;
}

.grid-item-11 {
  grid-column: 4 / 7;
  grid-row: 7 / 8;
  background-color: black;
}

.grid-item-12 {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.grid-item-13 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.grid-item-14 {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

.grid-item-15 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.grid-item-16 {
  grid-column: 4 / 7;
  grid-row: 2 / 3;
}

.grid-item-17 {
  grid-column: 7 / 8;
  grid-row: 1 / 3;
}

.grid-item-18 {
  grid-column: 7 / 8;
  grid-row: 6 / 8;
}



