<div class="game-container">
  <div class="d-flex align-items-center">
    <div class="gameTitle text-center mt-1 mb-2">Roulette Challenge</div>
    <div class="ml-auto w-50">
      <div class="table-description f-weight-600 text-white">To place bets drag and drop coins on the table, and spin
        the wheel! To remove a placed bet click the cell
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="back-stripe borders shadow-medium d-flex align-items-center">
      <div class="grid-container mr-auto">
        <div class="grid-item-02">
          <div class="d-flex h-100">
            <div class="d-flex flex-column flex-wrap w-100">
              <div [style.background-color]="square.color"
                   *ngFor="let square of numberSquares | slice:0:36; let $idx = index;"
                   class="d-flex flex-column grid-number-cell"
                   (click)="removeBetValue(square)"
                   mwlDroppable
                   (drop)="onDrop($event, square)">
                <span class="header-md">{{square.name}}</span>
                <div *ngIf="square.directBet > 0" class="display-sm">${{square.directBet}}</div>
              </div>
            </div>
          </div>
        </div>
        <!--Odd/Even-->
        <div class="grid-cell-text grid-item-15"
             (click)="removeBetValue(numberSquares[41])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[41])">
          <span class="f-weight-600">{{numberSquares[41].name}}</span>
          <div *ngIf="numberSquares[41].directBet > 0" class="display-sm ml-2">${{numberSquares[41].directBet}}</div>
        </div>

        <div class="grid-cell-text grid-item-16"
             (click)="removeBetValue(numberSquares[42])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[42])">
          <span class="f-weight-600">{{numberSquares[42].name}}</span>
          <div *ngIf="numberSquares[42].directBet > 0" class="display-sm ml-2">${{numberSquares[42].directBet}}</div>
        </div>
        <div class="grid-blank grid-item-17"></div>
        <!--1 -18 -->
        <div class="grid-cell-text grid-item-13"
             (click)="removeBetValue(numberSquares[39])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[39])">
          <span class="f-weight-600">{{numberSquares[39].name}}</span>
          <div *ngIf="numberSquares[39].directBet > 0" class="display-sm ml-2">${{numberSquares[39].directBet}}</div>
        </div>
        <!--18 -36 -->
        <div class="grid-cell-text grid-item-14"
             (click)="removeBetValue(numberSquares[40])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[40])">
          <span class="f-weight-600">{{numberSquares[40].name}}</span>
          <div *ngIf="numberSquares[40].directBet > 0" class="display-sm ml-2">${{numberSquares[40].directBet}}</div>
        </div>
        <div class="grid-cell-text grid-item-03"
             (click)="removeBetValue(numberSquares[45])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[45])">
          <span class="f-weight-600">{{numberSquares[45].name}}</span>
          <div *ngIf="numberSquares[45].directBet > 0" class="display-sm ml-2">${{numberSquares[45].directBet}}</div>
        </div>
        <div class="grid-cell-text grid-item-04"
             (click)="removeBetValue(numberSquares[46])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[46])">
          <span class="f-weight-600">{{numberSquares[46].name}}</span>
          <div *ngIf="numberSquares[46].directBet > 0" class="display-sm ml-2">${{numberSquares[46].directBet}}</div>
        </div>
        <div class="grid-cell-text grid-item-05"
             (click)="removeBetValue(numberSquares[47])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[47])">
          <span class="f-weight-600">{{numberSquares[47].name}}</span>
          <div *ngIf="numberSquares[47].directBet > 0" class="display-sm ml-2">${{numberSquares[47].directBet}}</div>
        </div>
        <!--1 -12 -->
        <div class="grid-cell-text grid-item-06"
             (click)="removeBetValue(numberSquares[36])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[36])">
          <span class="f-weight-600">{{numberSquares[36].name}}</span>
          <div *ngIf="numberSquares[36].directBet > 0" class="display-sm ml-2">${{numberSquares[36].directBet}}</div>
        </div>
        <!--12 -24 -->
        <div class="grid-cell-text grid-item-07"
             (click)="removeBetValue(numberSquares[37])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[37])">
          <span class="f-weight-600">{{numberSquares[37].name}}</span>
          <div *ngIf="numberSquares[37].directBet > 0" class="display-sm ml-2">${{numberSquares[37].directBet}}</div>
        </div>
        <!--24 -36 -->
        <div class="grid-cell-text grid-item-08"
             (click)="removeBetValue(numberSquares[38])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[38])">
          <span class="f-weight-600">{{numberSquares[38].name}}</span>
          <div *ngIf="numberSquares[38].directBet > 0" class="display-sm ml-2">${{numberSquares[38].directBet}}</div>
        </div>
        <!--Red/Black-->
        <div class="grid-blank grid-item-18"></div>
        <div class="grid-cell-text grid-item-10"
             (click)="removeBetValue(numberSquares[43])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[43])">
          <span class="f-weight-600">{{numberSquares[43].name}}</span>
          <div *ngIf="numberSquares[43].directBet > 0" class="display-sm ml-2">${{numberSquares[43].directBet}}</div>
        </div>
        <div class="grid-cell-text grid-item-11"
             (click)="removeBetValue(numberSquares[44])"
             mwlDroppable
             (drop)="onDrop($event, numberSquares[44])">
          <span class="f-weight-600">{{numberSquares[44].name}}</span>
          <div *ngIf="numberSquares[44].directBet > 0" class="display-sm ml-2">${{numberSquares[44].directBet}}</div>
        </div>
      </div>
      <div>
        <app-wheel-spinner
          (spinResultsEvent)="initToolEvent($event)"></app-wheel-spinner>
      </div>
    </div>
    <div class="state-frame shadow-light borders ml-5">
      <div class="bet-reveal">
        <div class="f-weight-600 display-lg mt-2">BETS PLACED:</div>
        <div *ngFor="let square of numberSquares; let $idx = index;">
          <div *ngIf="square.directBet" class="display-md"><span *ngIf="square.name < 37">Number </span>{{square.name}}
            = ${{square.directBet}}
          </div>
        </div>
      </div>
      <div class="win-reveal">
        <div class="f-weight-600 display-lg mt-3">WINNERS:</div>
        <div *ngFor="let win of displayArray">
          <div *ngIf="win.name" class="display-md"><span *ngIf="win.name < 37">Number </span>{{win.name}}
            = ${{win.directBet * win.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center mt-5">
    <div class="my-place-frame one-third borders shadow-light d-flex align-items-center mr-2">
      <div class="pokerchip magic-yellow" mwlDraggable dropData=1></div>
      <div class="chip-shadow-1"></div>
      <div class="pokerchip magic-red" mwlDraggable dropData=5></div>
      <div class="chip-shadow-2"></div>
      <div class="pokerchip magic-blue" mwlDraggable dropData=25></div>
      <div class="chip-shadow-3"></div>
      <div class="pokerchip magic-green" mwlDraggable dropData=50></div>
      <div class="chip-shadow-4"></div>
      <div class="pokerchip magic-black" mwlDraggable dropData=100></div>
      <div class="chip-shadow-5"></div>
    </div>
    <div class="my-place-frame one-third borders shadow-light d-flex align-items-center mr-2">
      <div class="text-white ml-2 mr-2">Cash on Hand</div>
      <span class="funds-frame f-weight-600 ml-auto">${{myFunds}}.00</span>
      <button class="btn btn-primary ml-auto" (click)="removeAllBets();">Reset Bets</button>
    </div>
    <div class="my-place-frame one-third borders shadow-light d-flex align-items-center">
      <div class="ml-2 mr-2 text-white f-weight-600">LAST TEN NUMBERS</div>
      <div [style.background-color]="digit.color" *ngFor="let digit of lastTenNums;"
           class="f-weight-600 last-ten">{{digit.name}}
      </div>
    </div>
  </div>







