@import '../../../assets/stylesheets/variables';

$window-height: 460px;

.game-container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 20px;
}

.btn.btn-sm {
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
}


.gameTitle {
  font-family: 'Racing Sans One', cursive;
  font-size: 4.0rem;
  letter-spacing: 1px;
  color: #00b700;
  text-shadow: 2px 2px 3px yellow;
}

[mwlDraggable] {
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
}

[mwlDroppable] {
  background-color: green;
  position: relative;
}

[mwlDraggable],
[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.table-background-frame {
  user-select: none;
  max-width: calc(0% + #{$container-width * 0.7});
  box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.6), inset 0 0 30px rgba(0, 0, 0, 0.8);
  padding: 10px;
  border: 15px solid green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 220px;
  border-bottom-right-radius: 220px;
}

.table-utilities {
  display: flex;
  flex-direction: row;
  @media (max-width: ($layout-breakpoint-md)) {
    flex-direction: column;
  }
}

.chip-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.chip-shadow-frame {
  padding-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chip-shadow {
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}

.borders {
  background-color: rgba(14, 137, 49, 0.67);
  border: 10px solid green;
}

.category-header {
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.funds-frame {
  padding: 7px 5px;
  border-radius: 4px;
  text-align: center;
  color: #000000;
  border: 1px solid yellow;
  background-color: #ffce06;
}

.game-state-frame {
  display: flex;
  flex-direction: row;
  max-width: calc(0% + #{$container-width * 0.3});
  color: white;
  width: 400px;
  height: $window-height;
  border-radius: 6px;

  .spin-state-reveal {
    width: 60%;
    display: flex;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), inset 0 0 12px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    top: 10px;
    align-items: center;
    flex-wrap: nowrap;
  }



  .last-ten-frame {
    width: 98%;
   // box-shadow: inset 3px 0 3px rgba(0, 0, 0, 0.4);
    &.bborder {
      padding: 3px 0;
      border-bottom: 1px solid rgba(14, 168, 34, 0.4);
    }
  }

  .table-state-reveal {
    margin: 0 3px 0 2px;
    width: 40%;
    display: flex;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), inset 0 0 12px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    border-right: 7px solid green;
    top: 10px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .bet-reveal {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$window-height / 2.5});
    width: 100%;
    overflow-y: auto;
    align-items: flex-start;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.49);
    .betFrame {
      font-size: 13px;
      border-radius: 3px;
      border: 1px solid white;
      &.bets {
        width: 60px;
      }
    }
  }
  .win-reveal {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: calc(100% - #{$window-height / 1.5});
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

a {
  color: #89310F;
}

.pokerchip {
  margin: .25em;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  background-size: 151px 151px;
  background-position: center center;
  z-index: 100;
}

.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background-size: 151px 151px;
  background-position: center center;
}

.pokerchip:after {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  content: "25";
  text-align: center;
  font: bold 26px Arial;
  white-space: pre;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3);
}

@mixin chip-color-values($baseColorStart, $baseColorEnd, $chip-value) {
  background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px),
  linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px),
  linear-gradient(120deg, $baseColorStart 0, $baseColorStart 97.4304px, #fff 97.4304px, #fff 113.4304px, $baseColorStart 113.4304px, $baseColorStart 151px);

  &:before {
    border: 3px solid $baseColorStart;
    background-image: linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px),
    linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px),
    linear-gradient(150deg, $baseColorEnd 0, $baseColorEnd 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, $baseColorEnd 110.7104px, $baseColorEnd 151px);
  }
  &:after {
    content: $chip-value;
    background: $baseColorStart;
    color: $baseColorEnd;
  }
}

.magic-yellow {
  @include chip-color-values(#ffc600, #d6a400, '1');
}

.magic-red {
  @include chip-color-values(#800000, #6C0000, '5');
}

.magic-blue {
  @include chip-color-values(#000099, #00016C, '25');
}

.magic-green {
  @include chip-color-values(#008000, #016C00, '50');
}

.magic-black {
  @include chip-color-values(#000000, #012500, '100');
}

.grid-container {
  height: 420px;
  width: 800px;
  border: 0 solid white;
  display: grid;
  padding: 15px;
  user-select: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1.5fr 1.5fr 3fr 3fr 3fr 1.5fr 1.5fr;
}

.grid-number-cell {
  border: 1px solid #ffffff;
  font-size: 17px;
  font-weight: 600;
  color: white;
  user-select: none;
  width: 8.33%;
  height: 33.33%;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease-in-out;

  &:hover {
    user-select: none;
    transform: scale(1.1);
    border: 2px solid #fbe00b;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.99);
    z-index: 10;
  }
}

.grid-blank {
  box-sizing: border-box;
  color: white;
  border: 1px solid #ffffff;
  background-color: #008b00;
}

.grid-cell-text {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  border: 1px solid #ffffff;
  background-color: #008b00;
  transition: transform 0.1s ease-in-out;
  &:hover {
    user-select: none;
    transform: scale(1.0);
    border: 2px solid yellow;
    z-index: 10;
  }
}

@mixin grid-child($col-start, $col-end, $row-start, $row-end, $writing-mode, $text-orientation) {
  user-select: none;
  writing-mode: $writing-mode;
  text-orientation: $text-orientation;
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

.cash-drop {
  position: absolute;
  padding: 2px 5px 0;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid white;
  &.bets {
    width: 60px;
  }
}

.grid-item-02 {
  @include grid-child(1, 7, 3, span 3, horizontal-tb, sideways);
}

// Row 1
.grid-item-03 {
  @include grid-child(7, span 7, 3, 4, vertical-rl, upright);
}

// Row 2
.grid-item-04 {
  @include grid-child(7, span 7, 4, 5, vertical-rl, upright);
}

// Row 3
.grid-item-05 {
  @include grid-child(7, span 7, 5, 6, vertical-rl, upright);
}

// 1st 12
.grid-item-06 {
  @include grid-child(1, 3, 6, 7, horizontal-tb, sideways);
}

// 2nd 12
.grid-item-07 {
  @include grid-child(3, 5, 6, 7, horizontal-tb, sideways);
}

// 3rd 12
.grid-item-08 {
  @include grid-child(5, 7, 6, 7, horizontal-tb, sideways);
}

.grid-item-10 {
  @include grid-child(1, 4, 7, 8, horizontal-tb, sideways);
}

.grid-item-11 {
  @include grid-child(4, 7, 7, 8, horizontal-tb, sideways);
}

.grid-item-12 {
  @include grid-child(1, 1, 1, 2, horizontal-tb, sideways);
}

.grid-item-13 {
  @include grid-child(1, 4, 1, 2, horizontal-tb, sideways);
}

.grid-item-14 {
  @include grid-child(4, 7, 1, 2, horizontal-tb, sideways);
}

.grid-item-15 {
  @include grid-child(1, 4, 2, 3, horizontal-tb, sideways);
}

.grid-item-16 {
  @include grid-child(4, 7, 2, 3, horizontal-tb, sideways);
}

.grid-item-17 {
  @include grid-child(7, 8, 1, 3, horizontal-tb, sideways);
}

.grid-item-18 {
  @include grid-child(7, 8, 6, 8, horizontal-tb, sideways);
}



