<div class="my-header">
  <div class="modal-title display-lg text-muted f-weight-600" id="exampleModalLabel">{{modalName}}</div>
  <a class="header-lg ml-auto" (click)="activeModal.dismiss('Cross click')">&times;</a>
</div>
<div class="modal-body">
  <div class="instruction-row" *ngFor="let instruction of activeContent; let $idx = index;">
    <span class="text-left ml-2 mr-1">{{instruction}}</span>
</div>
  <div class="d-flex align-items-center my-footer mt-3">
    <button type="button" class="btn btn-indigo waves-light ml-auto mr-3" data-dismiss="modal"
            (click)="activeModal.dismiss('Cross click')">{{activeButtons.name}}
    </button>
  </div>
</div>


