
#map, #map div {
  overflow: hidden; }

.mapContainer{
  width:1500px;
  height:1000px;
}

#usmap .background {
  fill: white;
  fill-opacity: 0.45; }
#usmap #mapGroup #states path {
  fill-opacity: 0.75;
  stroke-opacity: 0.95;
  stroke-width: .5px; }
#usmap #mapGroup #states path.quoted:hover {
  cursor: zoom-in;
  fill-opacity: 1.0;
  stroke-opacity: 1.0; }
#usmap #mapGroup #states path.active {
  fill: #fff;
  stroke: #ddd;
  fill-opacity: 1;
  stroke-opacity: 1; }
#usmap #mapGroup #states path.active:hover {
  cursor: zoom-out;
  fill-opacity: 0;
  stroke-opacity: 0; }
#usmap #mapGroup #places circle {
  stroke: white;
  stroke-width: 0.1;
  fill-opacity: 0.65; }
#usmap #mapGroup #places circle:hover {
  fill-opacity: 0.95; }
#usmap #mapGroup.centered #states path {
  fill-opacity: 0.25;
  stroke-opacity: 0.25; }
#usmap #mapGroup.centered #states path:hover {
  cursor: zoom-out;
  fill-opacity: 0.50;
  stroke-opacity: 0.50; }
#usmap #mapGroup.centered #states path.quoted:hover {
  cursor: zoom-in; }
#usmap #mapGroup.centered #states path.active {
  fill-opacity: 0;
  stroke-opacity: 0.25; }
#usmap #mapGroup.centered #states path.active:hover {
  cursor: zoom-out; }


