<div id="topheader">
  <div class="w-100 mt-3">
    <ul class="navbar-nav" style="border-bottom: 1px solid white;">
      <li class="active">
        <a routerLink="drilldown" href="#home">Drilldown<span class="sr-only">(current)</span></a></li>
      <li>
        <a routerLink="details" href="#page1">Details<span *ngIf="1 > 0" class="badge" id="savedCount"
                                                             style="position:absolute; margin-top:2px; background-color:blue; margin-left: 6px;">6</span></a>
      </li>
      <li>
        <a routerLink="map" href="#page2">Map</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

