@import '../../../assets/stylesheets/variables';

.fixed-nav {
  background-color: blue;
}

.count-badge {
  font-size: 12px;
  font-weight: 600;
  margin-left: 6px;
  margin-top: -3px;
  color: white;
  border-radius: 3px;
  padding: 2px 8px;
  background-color: blue;
}

.axis-text{
  font-family: 'Montserrat', sans-serif;
  font-size: .65rem;
  fill:black;
}

.axis-tick{
  stroke:black;
}

.axis-path {
  stroke: #eeeeee;
  stroke-opacity: 1.0;
  shape-rendering: geometricPrecision;
  z-index:110000;
}

.btn.btn-sm.help {
  font-size: .9rem;
  padding: 0.1rem 0.7rem;
}

.pieLabel {
  fill: white;
  font-weight: bold;
  font-size: 14px;
}

.horizontalGrid {
  shape-rendering: geometricPrecision;
  stroke: rgba(191, 191, 191, 0.2);
  stroke-width: 1px;
}

.legend {
  top: 15px;
}

.legend .key text {
  font-size: .7rem;
  font-weight: bold;
  fill: #000000;
}

.legend .key:hover {
  cursor: pointer;
}

.legend-back {
  fill: rgba(0, 0, 0, 0.06);
}

.borderedCell {
  border-bottom: 1px solid rgba(128, 128, 128, 0.31);
}

.headerBold {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.dataRow {
  color: black;
  padding: .2rem .5rem !important;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}
