@import '../../../assets/stylesheets/variables';

.fixed-nav {
  background-color: blue;
}

.axis-text{
  font-size: .8rem;
  fill:black;
}

.axis-tick{
  stroke:black;
}

.axis-path {
  stroke: #eeeeee;
  stroke-opacity: 1.0;
  shape-rendering: geometricPrecision;
  z-index:110000;
}


.pieLabel {
  fill: white;
  font-weight: bold;
  font-size: 14px;
}

.horizontalGrid {
  shape-rendering: geometricPrecision;
  stroke: rgba(191, 191, 191, 0.15);
  stroke-width: 1px;
}

.legend {
  top: 15px;
}

.legend .key text {
  font-size: .9rem;
  font-weight: bold;
  fill: #000000;
}

.legend .key:hover {
  cursor: pointer;
}

.legend-back {
  fill: rgba(0, 0, 0, 0.06);
}

.borderedCell {
  border-bottom: 1px solid rgba(128, 128, 128, 0.31);
}

.headerBold {
  color: black;
  font-size: 11px;
  font-weight: bold;
}

.dataRow {
  color: black;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}
