<header>
  <div class="fixed-nav">
    <div class="gold-text header-xl ml-2"><i class="fa fa-500px"></i></div>
    <div class="d-flex align-items-center">
      <div class="text-white header-lg ml-2">Tom Sternberg</div>
    </div>
    <div class="nav-icon3 ml-auto mr-5" (click)="menu_OnClick($event)"
         [ngClass]="isExpanded ?'open':''">

      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<!--Main Layout-->
<main>
  <!--<div class="backdrop-frame" [ngClass]="backdrop"></div>-->
  <div class="container text-center m-auto py-5">
    <div class="row">
      <div class="col-md-12 mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
<!--Main Layout-->
<div [ngClass]="!isExpanded ? 'sidebar in-visible anim-in' : 'sidebar am-visible anim-out'">
  <div class="d-flex flex-column m-auto">
    <div class="text-white mt-5">
      <div class="w-100">
        <div class="main-navigation-groups text-white w-100">
          <ul>
            <li><a routerLink="boneyard"
                   class="customer" (click)="isExpanded = !isExpanded; backdrop = 'background3'">Boneyard</a>
            </li>
            <li><a routerLink="resume"
                   class="customer" (click)="isExpanded = !isExpanded; backdrop = 'background3'">Resume</a>
            </li>
            <li><a
              class="family" (click)="gotoFamily();isExpanded = !isExpanded; backdrop = 'background3'">Family</a>
            </li>
            <!--<li><a routerLink="games"-->
                   <!--class="order" (click)="isExpanded = !isExpanded; backdrop = 'background2'">Games</a>-->
            <!--</li>-->
            <li><a routerLink="inspector/inspect/drilldown"
                   (click)="isExpanded = !isExpanded; backdrop = 'background3'">Inspector</a>
            </li>
            <li><a routerLink="wheelspin"
                   (click)="isExpanded = !isExpanded; backdrop = 'background1'">Wheel Spin</a>
            </li>
            <li class="mb-3"><a (click)="logout(); isExpanded = !isExpanded; backdrop = 'background2'">Logout<i
              class="fa fa-sign-out disabled ml-2"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

