<div class="fixed-nav">
  <div class="d-flex align-items-center contained-elements m-auto">
    <div class="heading ml-3">Tom Sternberg</div>
    <app-home class="ml-auto mr-5"></app-home>
    <div class="nav-icon3 mr-3" (click)="menu_OnClick($event)"
         [ngClass]="isExpanded ?'open':''">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--Main Layout-->
  <div [ngClass]="!isExpanded ? 'in-visible anim-out' : 'am-visible anim-in'">
    <div class="sidebar">
      <div class="main-navigation-groups w-100">
        <ul>
          <li><a routerLink="resume" (click)="isExpanded = !isExpanded;">Resume</a>
          </li>
          <li><a routerLink="family/family-routes/pictures"
                 (click)="isExpanded = !isExpanded;">Family</a>
          </li>
          <li><a routerLink="inspector/inspect/drilldown"
                 (click)="isExpanded = !isExpanded;">Inspector</a>
          </li>
          <li><a routerLink="wheelspin" (click)="isExpanded = !isExpanded;">Play Roulette</a>
          </li>
          <li><a routerLink="boneyard" (click)="isExpanded = !isExpanded;">Boneyard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container m-auto">
  <div class="spacer">
    <router-outlet></router-outlet>
  </div>
</div>



