<div class="width-container">
  <div class="overlay">
    <div class="display-md gold-text pull-right mb-2">{{activeLanguage}}
      <a (click)="openLangSelect = !openLangSelect">
        <i class="fa fa-caret-down ml-2"></i></a>
      <div class="profile-drop" *ngIf="openLangSelect">
        <div *ngFor="let lang of langChoices let $idx = index;" (click)="useLanguage(lang.bind)"
             class="d-flex align-items-center profileRow mx-1">
          {{lang.name}}
        </div>
      </div>
    </div>
    <video-card
      class="d-flex w-100 h-25"></video-card>
    <div class="display-md text-white mb-2">
      <div class="mb-2">{{ 'demo.introduction' | translate }}</div>
      <ul>
        <li>{{ 'demo.bullet1' | translate }}</li>
        <li>{{ 'demo.bullet2' | translate }}</li>
        <li>{{ 'demo.bullet3' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
<app-carousel
  [historyValues]="gameHistoryValues$">
</app-carousel>

