@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
  @include gradient(#23577a, lighten(#8192d1, 10));
  color: black;
}


.container {
  min-width: 1600px;
  padding: 30px;
  height: 100vh;
  background-color: rgba(3, 18, 68, 0.25);
}


a {
  cursor: pointer
}



.in-visible {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
}


.am-visible {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .5s;
}

.gold-text {
  color: $gold-leaf;
}

.pieLabel {
  fill: white;
  font-weight: bold;
  font-size: 12px;
}


.legend .key text {
  font-size: .9rem;
  font-weight: bold;
  fill: #f4f4f4;
}

.legend .key:hover {
  cursor: pointer;
}


.headerBold {
  color: white;
  font-size: 11px;
  font-weight: normal;
}

.dataRow {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

table {
  margin: 0;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px solid #e9ecef;
}


// Line chart holdover
.chart-tip {
  position: absolute;
  pointer-events: none;
  display: none;
  top: 0;
  left: 0;
  z-index: 12000 !important;
}

.chart-tip table {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.83);
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  opacity: 0.9;
}

.chart-tip table tr {
  border: 1px solid #CCC;
}

.chart-tip table th {
  background-color: #4c6cea;
  font-size: 12px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
  border-left: 1px dotted #fff;
}

.chart-tip table td {
  font-size: 11px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

[mwlDraggable] {
  background-color: red;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 10px;
}

[mwlDroppable] {
  background-color: green;
  position: relative;
}

[mwlDraggable],
[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.display-xs {
  font-size: 0.7rem;
}

.display-sm {
  font-size: 0.8rem;
}

.display-md {
  font-size: 0.9rem;
}

.display-lg {
  font-size: 1.0rem;
}

.display-xl {
  font-size: 1.1rem;
}

.header-xs {
  font-size: 1.2rem;
}

.header-sm {
  font-size: 1.3rem;
}

.header-md {
  font-size: 1.4rem;
}

.header-lg {
  font-size: 1.5rem;
}

.header-xl {
  font-size: 2.1rem;
}

.header-rl {
  font-size: 2.8rem;
}

// Open sans 600
.f-weight-600 {
  font-weight: 600;
}

// Open sans 600
.f-weight-700 {
  font-weight: 700;
}


.filterRow {
  width:100%;
  background-color: #fafaff;
  border: 0px solid rgba(0, 0, 0, 0.17);
  font-size: 13px;
  white-space: nowrap;
  vertical-align: middle;
  color:black;
  padding: 5px;
}

.filterRow > td:first-child {
  border-radius: 0 0 0 0;
}
.navbar-container {
  margin: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10001;
  padding: 15px 0;
  min-height: 45px;
  background-color: #4554a3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .46);
}

.nav-tab-format {
  border-bottom: 1px transparent;
  margin-top: 1px;
}


.navbar-container .nav-tabs .nav-link {
  background-color: transparent;
  border-right: 1px solid;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: rgba(49, 49, 98, 0.55);
  border-radius: 5px 5px 0 0;
  margin-right: 4px;
  border-bottom: 1px transparent;
  &:hover {
    border-color: #52a3ff;
    color: white;
    border-bottom: 1px solid #4554a3;
  }
  &:active {
    border-color: white;
    border-bottom: 1px solid #4554a3;
  }
  &:focus {
    border-color: white;
    border-bottom: 1px solid #4554a3;
  }
}


table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

table {
  margin: 0;
}


#searchTable .table ~ th {
  vertical-align: bottom;
  border-color: transparent !important;
}



#searchTable.table thead th{
  border-color: transparent !important;
}

#searchTabs {
  border-bottom: 0;
  margin-bottom: -15px;
}

#searchTabs > li > a {
  font-size: 11px;
  font-weight: bold;
  padding: 0 8px;
  line-height: 40px;
}

#searchTabs > li > a > .badge {
  font-size: 11px;
}

.tab-pane {
  padding: 5px;
  background-color:white;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}


.nav-justified .nav-item{
  width:260px;
}


.navbar-container .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #4554a3;
  border-color: white;
  color: white;
  border-bottom: 1px solid #4554a3;
}

.nav-tab-active-color {
  color: #007dc6 !important;
}
