@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
  @include gradient(#23577a, lighten(#8192d1, 10));
  color: black;
}


.container {
  min-width: 1600px;
  padding: 20px;
  height: 100%;
  background-color: rgba(3, 18, 68, 0.25);
}


a {
  cursor: pointer
}


.gold-text {
  color: $gold-leaf;
}


.pieLabel {
  fill: white;
  font-weight: bold;
  font-size: 12px;
}


.legend .key text {
  font-size: .9rem;
  font-weight: bold;
  fill: #f4f4f4;
}

.legend .key:hover {
  cursor: pointer;
}


.headerBold {
  color: white;
  font-size: 11px;
  font-weight: normal;
}

.dataRow {
  color: white;
  font-size: 12px;
  font-weight: normal;
}

table {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

table {
  margin: 0;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 0px solid #e9ecef;
}


// Line chart holdover
.chart-tip {
  position: absolute;
  pointer-events: none;
  display: none;
  top: 0;
  left: 0;
  z-index: 12000 !important;
}

.chart-tip table {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.83);
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  opacity: 0.9;
}

.chart-tip table tr {
  border: 1px solid #CCC;
}

.chart-tip table th {
  background-color: #4c6cea;
  font-size: 12px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
  border-left: 1px dotted #fff;
}

.chart-tip table td {
  font-size: 11px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}



.display-xs {
  font-size: 0.7rem;
}

.display-sm {
  font-size: 0.8rem;
}

.display-md {
  font-size: 0.9rem;
}

.display-lg {
  font-size: 1.0rem;
}

.display-xl {
  font-size: 1.1rem;
}

.header-xs {
  font-size: 1.2rem;
}

.header-sm {
  font-size: 1.3rem;
}

.header-md {
  font-size: 1.4rem;
}

.header-lg {
  font-size: 1.5rem;
}

.header-xl {
  font-size: 2.1rem;
}

.header-rl {
  font-size: 2.8rem;
}

// Open sans 600
.f-weight-600 {
  font-weight: 600;
}

// Open sans 600
.f-weight-700 {
  font-weight: 700;
}


